---
layout: default
title: Art

excerpt: Random pieces of stuff tangentially related to creative creation by Jules.
---

{% assign all_art_sorted = site.art | reverse %}

<div class="art-listing">

    {% for cat in site.data.art_categories %}

        <h2 id="{{cat.name}}" class="blog-category glow-text">{{cat.name}}</h2>
        <p class="blog-category-desc">{{cat.desc}}</p>
        <hr>

        <div class="gallery-container">
            {% for art in all_art_sorted %}

                {% if art.category != cat.name %}
                    {% continue %}
                {% endif %}

                <div class="gallery-item">
                    <a href="{{ art.url }}">
                        <div class="gallery-img-container">
                            <img class="gallery-img" src="{{ art.preview-url }}">
                        </div>
                    </a>
                    <div class="gallery-desc">
                        <h3 class="glow-text">{{ art.display-title }}</h3>
                        <div class="gallery-meta">
                            <div>Images: {{ art.gallery | size }}</div>
                            <div>Date: {{ art.date | date_to_string }}</div>
                        </div>
                        {{ art.excerpt | markdownify }}
                    </div>
                </div>
                
            {% endfor %}
        </div>

    {% endfor %}

</div>