---
layout: default
title: Blog

excerpt: Buncha writings by Jules
---

<style>

    #orchid {
        white-space: pre;
        font-family: monospace;
        line-height: 1.2em;
        font-size: calc(min(0.5vw, 5px));
        text-shadow: 
            0 0 0.60em rgb(83, 245, 191), 
            0 0 1.20em rgba(83, 245, 191, 0.7), 
            0 0 1.80em rgba(83, 245, 191, 0.5), 
            0 0 2.30em rgba(83, 245, 191, 0.3), 
            0 0 2.90em rgba(83, 245, 191, 0.2), 
            0 0 3.50em rgba(83, 245, 191, 0.1); 
    }
    
</style>

<center>
<pre id="orchid">
    {% include blog-ascii %}
</pre>
</center>

{% assign LATEST_N = 3 %}

<div class=generic-content>
<h1>Latest</h1>
</div>

<div class="blog-listing">

{% assign counter = 0 %}
{% for post in site.posts %}

    {% if post.category == "Unlisted" %}
        {% continue %}
    {% endif %}

    {% if counter == LATEST_N %}

        <details>
        {% assign tmp = 0|minus:LATEST_N %}
        {% for _ in site.posts %}
            {% if _.category != "Unlisted" %}
                {% assign tmp = tmp|plus:1 %}
            {% endif %}
        {% endfor %}
        <summary class="generic-content glow-text">See {{tmp}} more posts</summary>

    {% endif %}

    <h2 class="blog-display generic-no-style"><a href="{{ post.url }}">{{ post.display-title }}</a></h2>
    <p class="blog-excerpt">{{ post.excerpt }}</p>
    <div class="blog-post-meta">
        
        <span class="post-meta-left">
            <span>📅 {{ post.date | date_to_string }} - {{ post.author }} ^-^</span>
            <span>📚 Word Count: {{post.content | strip_html | number_of_words }}</span>
        </span>
        
        <span class="post-meta-right">
            <span>🏷️</span> Tags: 
            {% for tag in post.tags %}
            #{{ tag }} 
            {% endfor %}
        </span>

    </div>

    {% assign counter = counter|plus:1 %}

{% endfor %}
{% assign tmp = LATEST_N|plus:1 %}
{% if counter >= tmp %}
    </details>
{% endif %}

</div>

<div class=generic-content>
<h1>All Posts</h1>
</div>

<div class="blog-listing">

{% for cat in site.data.blog_categories %}

    <h2 id="{{cat.name}}" class="blog-category">{{cat.name}}</h2>
    <p class="blog-category-desc">{{cat.desc}}</p>

    <details>
        {% assign tmp = 0 %}
        {% for _ in site.posts %}
            {% if _.category == cat.name %}
                {% assign tmp = tmp|plus:1 %}
            {% endif %}
        {% endfor %}
    <summary class="glow-text">See {{tmp}} posts</summary>
    <div class="blog-listing">
    
        {% for post in site.posts %}

        {% if post.category == cat.name %}

        <h2 class="blog-display generic-no-style"><a href="{{ post.url }}">{{ post.display-title }}</a></h2>
        <p class="blog-excerpt">{{ post.excerpt }}</p>
        <div class="blog-post-meta">
            
            <span class="post-meta-left">
                <span>📅 {{ post.date | date_to_string }} - {{ post.author }} ^-^</span>
                <span>📚 Word Count: {{post.content | strip_html | number_of_words }}</span>
            </span>
            
            <span class="post-meta-right">
                <span>🏷️</span> Tags: 
                {% for tag in post.tags %}
                #{{ tag }} 
                {% endfor %}
            </span>

        </div>

        {% endif %}

        {% endfor %}

    </div>
    </details>

{% endfor %}

</div>