---
layout: default
title: Blog

excerpt: Buncha writings by Jules
---

<style>

    #orchid {
        white-space: pre;
        font-family: monospace;
        line-height: 1.2em;
        font-size: calc(min(2vw, 11px));
        text-shadow: 
            0 0 1.00em rgb(92, 241, 197), 
            0 0 2.00em rgba(92, 241, 197, 0.9), 
            0 0 3.50em rgba(92, 241, 197, 0.7), 
            0 0 4.80em rgba(92, 241, 197, 0.5), 
            0 0 6.00em rgba(92, 241, 197, 0.3), 
            0 0 8.00em rgba(92, 241, 197, 0.2); 
    }
    
</style>

<center>
<pre id="orchid">
{% raw %}
                                          _                                       
                                      ,~;O"//   .                           
                                    _/ _{`,'    O'                          
                                 _ _(-_V/ /[ /L |L                          
                                .`.)*L(/ // :V _V\ O                        
                               ,\_O` // ,)  V/ //_) _                       
                             _]{_V` Y/ _O  U. _O ./ V/ _                    
                           _ O `//, \  // _\' /( O'_[)&lt;/                    
                            `/ _![ [)://  // // // '* '/                    
     __    ~_      _            &lt; .)`_O' // ,) &lt;`            ____           
    /      _`F}c:L_ ^.\   ^L     \// // O) _{`        _L  _&gt;O``_.           
_C&gt;:O7` `"#cEOL_ `~&gt;. \)   (      [[,\`_)`,\`.       _/_+C&lt;O/``  .o.=,      
/\ &gt;)*4;&lt;__   `"&lt;&gt;. ".  \  \      V`|L_V/_\' /       _&gt;*`.c/__.&lt;Cco4;--LL&gt;. 
 \)`^O.  `^4&lt;E,_  `}C.``    `    _)UO )/_// ,`     ,-"L&lt;O&lt;-"`` _[_LL,,-&lt;c,` 
   `\_`~O~_    `-;O,_`*`&gt;      )`"\V),/ // .`     `_&gt;'`__,ccc7-```    __L&gt;7"
  .L__~_ ``"OF`-    `"OO      /    `L(__,` {        c77"`` ___-L,OO`=*^`  - 
   ^&lt;_ `&gt;cO:E-LLLL      ____  /        ` E)     __::;F477""```     __&gt;;){/U 
     -&lt;E:--.______L-- )&gt;`  /( -.          \,  ``          ___Lc-&lt;/"^`[-c7`  
     ```"`.~```7V"   7/      \            VY        _``&lt;==~.______&gt;&lt;C___    
       ^`` --`O"`    ]L _    )V `"`       _.    `&gt;L_ ``O~_ ````````_.       
                   .(,} }\   UL\          //4&gt;.     `\)C.)`FC^^-cC`F`       
         _______.&lt;O7^_))U \.///_\     , _/.&lt;(_`\    /, ^` \=~C~_  ``        
       _&gt;::/`OK7F`_-O&lt;``/      `/|__  O.'C)/)H&gt;   _         O)O/  ./\,      
      LL&lt;C_&lt;^/__-)^``C7-`       `*&lt;~F7~FF{#//V/`E.)\&lt;_       `_,K` _-/O     
     ;((&lt;/` _&lt;/`` ,~O{[`               _{O\") \\O_ |=.`OOF^`4{~_ _^(&lt;`\`_   
   //C&lt;^_L&lt;^``L.&lt;)``_-O/|)&lt;__       _L7)|:~)){O`\(``L_,L-,`&lt;__`F`OC_`~))OL  
  /,/Cv`/`_.&lt;O&lt;``_-V-`_O&lt;&gt;`./)7O[O``  (({\ [/^UC&lt;]&gt;^,*&lt;__))`^~C&gt;._`&gt;CL_"'   
  _~` .,c7&lt;`V_O-O|`/LV&gt;&lt;`_/,C.)/*`     /))}\Y{`]`(&gt;(/ `~LC"L@V _CO@`~~O{`   
   _.,,_--E:C7{`C&gt;O7)`]&lt;O})OO/"          V')}^(.&gt;/(L{`}_@\`OCFVL.,.&lt;;. F`   
   ^&lt;`^-E,,:E&lt;~"C_-&lt;)//,O&lt;``              .C&lt;\LU`OO\Y{V;;Y&gt;4.&lt;-^F``O7``     
      ```F7477-7*/"F```                    \)^}(V~4OLO{)CC&lt;E&lt;L--`` 
                                             ``FFF--***`````         
{% endraw %}
</pre>
</center>

{% assign LATEST_N = 3 %}

<div class=generic-content>
<h1>Latest</h1>
</div>

<div class="blog-listing">

{% assign counter = 0 %}
{% for post in site.posts %}

    {% if post.category == "Unlisted" %}
        {% continue %}
    {% endif %}

    {% if counter == LATEST_N %}

        <details>
        {% assign tmp = 0|minus:LATEST_N %}
        {% for _ in site.posts %}
            {% if _.category != "Unlisted" %}
                {% assign tmp = tmp|plus:1 %}
            {% endif %}
        {% endfor %}
        <summary class="generic-content glow-text">See {{tmp}} more posts</summary>

    {% endif %}

    <h2 class="blog-display generic-no-style"><a href="{{ post.url }}">{{ post.display-title }}</a></h2>
    <p class="blog-excerpt">{{ post.excerpt }}</p>
    <div class="blog-post-meta">
        
        <span class="post-meta-left">
            <span>📅 {{ post.date | date_to_string }} - {{ post.author }} ^-^</span>
            <span>📚 Word Count: {{post.content | strip_html | number_of_words }}</span>
        </span>
        
        <span class="post-meta-right">
            <span>🏷️</span> Tags: 
            {% for tag in post.tags %}
            #{{ tag }} 
            {% endfor %}
        </span>

    </div>

    {% assign counter = counter|plus:1 %}

{% endfor %}
{% assign tmp = LATEST_N|plus:1 %}
{% if counter >= tmp %}
    </details>
{% endif %}

</div>

<div class=generic-content>
<h1>All Posts</h1>
</div>

<div class="blog-listing">

{% for cat in site.data.blog_categories %}

    <h2 id="{{cat.name}}" class="blog-category">{{cat.name}}</h2>
    <p class="blog-category-desc">{{cat.desc}}</p>

    <details>
        {% assign tmp = 0 %}
        {% for _ in site.posts %}
            {% if _.category == cat.name %}
                {% assign tmp = tmp|plus:1 %}
            {% endif %}
        {% endfor %}
    <summary class="glow-text">See {{tmp}} posts</summary>
    <div class="blog-listing">
    
        {% for post in site.posts %}

        {% if post.category == cat.name %}

        <h2 class="blog-display generic-no-style"><a href="{{ post.url }}">{{ post.display-title }}</a></h2>
        <p class="blog-excerpt">{{ post.excerpt }}</p>
        <div class="blog-post-meta">
            
            <span class="post-meta-left">
                <span>📅 {{ post.date | date_to_string }} - {{ post.author }} ^-^</span>
                <span>📚 Word Count: {{post.content | strip_html | number_of_words }}</span>
            </span>
            
            <span class="post-meta-right">
                <span>🏷️</span> Tags: 
                {% for tag in post.tags %}
                #{{ tag }} 
                {% endfor %}
            </span>

        </div>

        {% endif %}

        {% endfor %}

    </div>
    </details>

{% endfor %}

</div>