---
layout: default
title: Blog

excerpt: Buncha writings by Jules
---

<style>

@keyframes huerot {
    0% {
        -webkit-filter: hue-rotate(0deg);
    }

    50% {
        -webkit-filter: hue-rotate(180deg);
    }

    100% {
        -webkit-filter: hue-rotate(0deg);
    }
}

#birb {
    font-family: monospace;
    line-height: 1.2em;
    font-size: calc(min(2vw, 11px));
    text-shadow: 
        0 0 0.60em rgb(83, 245, 215), 
        0 0 1.20em rgba(83, 245, 215, 1), 
        0 0 1.80em rgba(83, 245, 215, 0.8), 
        0 0 2.30em rgba(83, 245, 215, 0.6), 
        0 0 2.90em rgba(83, 245, 215, 0.3), 
        0 0 3.50em rgba(83, 245, 215, 0.2); 
    animation: 3s infinite huerot;
}

</style>

{% assign LATEST_N = 3 %}

{% raw %}
<center>
<strong>
<!--googleoff: index-->
<pre id="birb">
                                                        _.C\=-C`~(       
                                                      ```o''*~C`  `,     
                                                    '\_~_E_'O'```v, U_   
                                                 . ' :``      ````>`[cCO-
                                             __>'  `_ `~__         `O'`  
                                         _U<`             ^~      ,)     
                                     _U<'         _______,,~`~-~U/_/     
                                __~^`  _                `~~    ```       
                           __~*`        `C>_          ``[O               
                       __-``__I_=-~~-^`'  `>>    _U_-_- `                
                  __UC-**``.,U;#c'__**F'''-**`>=-````*`                  
         ____-~,_@C``[CC[`C[`    __                           _'         
  _U,_cF~'`'```      *__,.=='*^H__     `[`                  _/           
'``                             \                        _>K             
                                 `                    __/`               
                               ^{_   [               ``                  
                                     `<    ,                             
                                       `4\_[                             
                                         `{\`_                           
                                          \4\),_                         
                                    -*``ELU-,*UF-~o_@o,_                 
                    ___-~-`'``````  `` `''`````````[\ ``'                
         ___-=-*'```         ___         U,  --oIoE/    `,               

</pre>
<!--googleon: index-->
</strong>
</center>
{% endraw %}

<div class=generic-content>
<h1>Latest</h1>
</div>

<div class="blog-listing">

{% assign counter = 0 %}
{% for post in site.posts %}

    {% if post.category == "Unlisted" %}
        {% continue %}
    {% endif %}

    {% if counter == LATEST_N %}

        <details>
        {% assign tmp = 0|minus:LATEST_N %}
        {% for _ in site.posts %}
            {% if _.category != "Unlisted" %}
                {% assign tmp = tmp|plus:1 %}
            {% endif %}
        {% endfor %}
        <summary class="glow-text">See {{tmp}} more posts</summary>

    {% endif %}

    <h2 class="blog-display generic-no-style"><a href="{{ post.url }}">{{ post.display-title }}</a></h2>
    <p class="blog-excerpt">{{ post.excerpt | markdownify }}</p>
    <div class="blog-post-meta">
        
        <span class="post-meta-left">
            <span>📅 {{ post.date | date_to_string }} - {{ post.author }} ^-^</span>
            <span>📚 Word Count: {{post.content | strip_html | number_of_words }}</span>
        </span>
        
        <span class="post-meta-right">
            <span>🏷️</span> Tags: 
            {% for tag in post.tags %}
            #{{ tag }} 
            {% endfor %}
        </span>

    </div>

    {% assign counter = counter|plus:1 %}

{% endfor %}
{% assign tmp = LATEST_N|plus:1 %}
{% if counter >= tmp %}
    </details>
{% endif %}
</div>


<script type="module">
import * as THREE from 'https://cdn.skypack.dev/three@0.135.0';
//import { OrbitControls } from 'https://cdn.skypack.dev/three@0.135.0/examples/jsm/controls/OrbitControls.js';

const getCanvasSize = () => {
    const W = document.getElementById("hewwo").clientWidth;
    const H = document.getElementById("hewwo").clientHeight;
    return [W, H];
}

const [W,H] = getCanvasSize();
    
const renderer = new THREE.WebGLRenderer({alpha: false});
renderer.shadowMap.enabled = true;
renderer.shadowMap.type = THREE.PCFSoftShadowMap;
renderer.setClearColor(0xffffff, 0);
renderer.setSize(W,H);
renderer.antialias = true;
document.getElementById("hewwo").appendChild(renderer.domElement);

const scene = new THREE.Scene();
scene.background = new THREE.Color().setHex(0xfa0000);

const camera = new THREE.PerspectiveCamera(20, W/H, 1, 1000);
camera.position.set(0,0,3);
camera.lookAt(0,0,0);
scene.add(camera);

const get_box = () => {  
    const material = new THREE.MeshStandardMaterial({
        color: 0x001431,
    });  
    const material1 = new THREE.MeshStandardMaterial({
        color: 0x001431,
        roughness: 0,
    });
    //material.side = THREE.DoubleSide;
    const s = .99;
    const d = (s - 1)/2;
    const face1 = new THREE.Mesh(new THREE.PlaneGeometry(s, s), material1);
    const face2 = new THREE.Mesh(new THREE.PlaneGeometry(s, s), material);
    const face3 = new THREE.Mesh(new THREE.PlaneGeometry(s, s), material);
    const face4 = new THREE.Mesh(new THREE.PlaneGeometry(s, s), material);
    const face5 = new THREE.Mesh(new THREE.PlaneGeometry(s, s), material);
    face2.rotateX(Math.PI/2); face2.translateY(.5 - d); face2.translateZ(-.5);
    face3.rotateX(-Math.PI/2); face3.translateY(-.5 + d); face3.translateZ(-.5);
    face4.rotateY(Math.PI/2); face4.translateX(-.5 + d); face4.translateZ(-.5);
    face5.rotateY(-Math.PI/2); face5.translateX(.5 - d); face5.translateZ(-.5);

    const flatmat = new THREE.MeshBasicMaterial({color: 0x001431});
    const oface1 = new THREE.Mesh(new THREE.PlaneGeometry(1,1), flatmat);
    oface1.translateZ(1.); oface1.translateX( 1.); oface1.scale.set(1,3,1); //oface1.translateX(-d);
    const oface2 = new THREE.Mesh(new THREE.PlaneGeometry(1,1), flatmat);
    oface2.translateZ(1.); oface2.translateX(-1.); oface2.scale.set(1,3,1); //oface2.translateX(d);
    const oface3 = new THREE.Mesh(new THREE.PlaneGeometry(1,1), flatmat);
    oface3.translateZ(1.); oface3.translateY( 1.); oface3.scale.set(3,1,1); //oface3.translateY(-d);
    const oface4 = new THREE.Mesh(new THREE.PlaneGeometry(1,1), flatmat);
    oface4.translateZ(1.); oface4.translateY(-1.); oface4.scale.set(3,1,1); //oface4.translateY(d);

    const box = new THREE.Group();
    box.add(face1);
    box.add(face2);
    box.add(face3);
    box.add(face4);
    box.add(face5);

    box.children.forEach(c => {
        c.receiveShadow = true;
        c.castShadow = true;
    });

    box.add(oface1);
    box.add(oface2);
    box.add(oface3);
    box.add(oface4);
    return box;
}

const get_test_obj = () => {
    const obj = new THREE.Mesh(
        new THREE.TorusGeometry(.07, .035, 20, 100),
        new THREE.MeshStandardMaterial({color: 0x222222, metalness: 1., roughness: 0.})
    );
    obj.translateZ(1.5);
    obj.castShadow = true;
    obj.receiveShadow = true;
    return obj;
}

const box = get_box();
const test_obj = get_test_obj();

scene.add(box);
scene.add(test_obj);

const amlight = new THREE.AmbientLight(0x555555);
scene.add(amlight);

const dlight1 = new THREE.DirectionalLight(0x001931, 4.);
dlight1.position.set(0,0,5);
dlight1.castShadow = true;
scene.add(dlight1);

const dlight_pos = [
    new THREE.Vector3( 1.7, 1.7, 5),
    new THREE.Vector3(-1.7, 1.7, 5),
    new THREE.Vector3( 1.7,-1.7,-5),
    new THREE.Vector3(-1.7,-1.7,-5),
    new THREE.Vector3(-1.7, 1.7,-5),
    new THREE.Vector3( 1.7, 1.7,-5),
];

dlight_pos.forEach((p,i) => {
    const l = new THREE.DirectionalLight(
        i < 2 ? 0x001931 : 0xfa0000,
        i < 2 ? 4. : 7.);
    l.position.set(p.x, p.y, p.z);
    l.castShadow = true;
    l.shadow.radius = 0;
    l.shadow.camera.left = -2;
    l.shadow.camera.right = 2;
    l.shadow.camera.top = 3;
    l.shadow.camera.bottom = -3;
    l.shadow.camera.far = 10;
    scene.add(l);
})

//scene.add(new THREE.CameraHelper(dlight2.shadow.camera));

// const controls = new OrbitControls(camera, renderer.domElement);
// controls.target = new THREE.Vector3(0, 0, 0);

function animate() {
    //requestAnimationFrame(animate);
    //controls.update();
    renderer.render(scene, camera);
}
renderer.setAnimationLoop(animate);


const set_box_scale = () => {
    const distance_to_camera_1 = camera.position.z - box.position.z - 0.05;//  + 1
    const distance_to_camera_2 = camera.position.z - box.position.z + 0.95;
    const scale_y = distance_to_camera_1 * Math.tan(camera.fov/360 * Math.PI);
    const scale_x = distance_to_camera_2 * Math.tan(camera.fov/360 * Math.PI) * camera.aspect;
    const scale_z = 2;
    box.scale.set(scale_x, scale_y, scale_z);
    box.position.z = -scale_z/2;

    const t = scale_y * 2.2;
    test_obj.scale.set(t,t,t);
}

function onWindowResize() {
    const [W,H] = getCanvasSize();
    camera.aspect = W/H;
    camera.updateProjectionMatrix();
    renderer.setSize(W, H);
    set_box_scale();
}
window.addEventListener('resize', onWindowResize);
window.onload = onWindowResize;

function onScroll(event) {
    const e = renderer.domElement;
    const rect = e.getBoundingClientRect();
    const h = rect.bottom - rect.top;
    const dist_from_center = ((rect.top + rect.bottom) / 2 + e.scrollTop) / window.screen.height - 0.5;
    camera.position.y = 1.3*dist_from_center;
    camera.lookAt(0,0,0);
    dlight1.position.x = 10*dist_from_center;
    e.style.top = `${-Math.round(dist_from_center * h * 0.6)}px`
    test_obj.lookAt(camera.position.x, 20*camera.position.y, camera.position.z);
}

addEventListener("scroll", onScroll);

onScroll();

</script>

<style>
#hewwo {
    width: 70%;
    height: 30em;
    overflow-y: hidden;
}

#hewwo > canvas {
    position: relative;
}
</style>

<center>
<div id="hewwo"></div>
</center>


<div class=generic-content>
<h1>All Posts</h1>
</div>

<div class="blog-listing">

{% for cat in site.data.blog_categories %}

    <h2 id="{{cat.name}}" class="blog-category">{{cat.name}}</h2>
    <p class="blog-category-desc">{{cat.desc}}</p>

    <details>
        {% assign tmp = 0 %}
        {% for _ in site.posts %}
            {% if _.category == cat.name %}
                {% assign tmp = tmp|plus:1 %}
            {% endif %}
        {% endfor %}
    <summary class="glow-text">See {{tmp}} posts</summary>
    <div class="blog-listing">
    
        {% for post in site.posts %}

        {% if post.category == cat.name %}

        <h2 class="blog-display generic-no-style"><a href="{{ post.url }}">{{ post.display-title }}</a></h2>
        <p class="blog-excerpt">{{ post.excerpt | markdownify }}</p>
        <div class="blog-post-meta">
            
            <span class="post-meta-left">
                <span>📅 {{ post.date | date_to_string }} - {{ post.author }} ^-^</span>
                <span>📚 Word Count: {{post.content | strip_html | number_of_words }}</span>
            </span>
            
            <span class="post-meta-right">
                <span>🏷️</span> Tags: 
                {% for tag in post.tags %}
                #{{ tag }} 
                {% endfor %}
            </span>

        </div>

        {% endif %}

        {% endfor %}

    </div>
    </details>

{% endfor %}

</div>