---
layout: default
title: Projects

excerpt: Buncha projects by Jules
---

{% assign all_project_sorted = site.projects | reverse %}

<div class="project-listing">

{% for project in all_project_sorted %}

<div class="project">
    {% if project.project-uses-external-url %}
    <a href="{{ project.external-url }}">
    {% else %}
    <a href="{{ project.url }}">
    {% endif %}
        <img class="project-banner" src="{{project.display-image}}">
    </a>
    <h2 class="project-title">
        {% if project.project-uses-external-url %}
        <a href="{{ project.external-url }}">
        {% else %}
        <a href="{{ project.url }}">
        {% endif %}
            {{ project.display-title }}
        </a>
    </h2>
    <span class="project-meta">
        <span>📅 {{ project.date | date_to_string }}</span>
        <span>
            <span>🏷️</span> Tags: 
            {% for tag in project.tags %}
            #{{ tag }} 
            {% endfor %}
        </span>
    </span>
    <div class="project-desc">
        {{ project.excerpt | markdownify }}
    </div>

</div>

{% endfor %}

</div>