---
layout: default
title: Projects

excerpt: Buncha projects by Jules
---

{% assign all_project_sorted = site.projects | reverse %}

<div class="project-listing">

{% for project in all_project_sorted %}

<div class="project">
    <a href="{{ project.url }}">
        <img class="project-banner" src="{{project.display-image}}">
    </a>
    <h2 class="glow-text project-title">{{ project.display-title }}</h2>
    <span class="project-meta">
        <span>📅 {{ project.date | date_to_string }}</span>
        <span>
            <span>🏷️</span> Tags: 
            {% for tag in project.tags %}
            #{{ tag }} 
            {% endfor %}
        </span>
    </span>
    <div class="project-desc">
        {{ project.excerpt | markdownify }}
    </div>

</div>

{% endfor %}

</div>