

<div class="menu">

    <h3 class="glow-text">More on this site:</h3>
    <details open="">
    <summary><a href="/blog.html">Blog</a> (from latest)</summary>
    <section class="menu-section site-menu blog-listing">
        {% for post in site.posts %}
        <div><a href="{{ post.url }}">{{ post.display-title }}</a></div>
        {% endfor %}
    </section>
    </details>

    <!--Placeholder: Will add{
        1. Blog > Categories > Archive
        2. Projects > Categories > Archive
    },-->
</div>