<div class="nav-container">
<nav class="nav">
    <a 
        href="https://nightmargin.bandcamp.com/track/children-of-the-ruins" 
        class="nohover nav-icon"
        target="_blank"
    >
    </a>
    <span class="nav-items">
    {% for item in site.data.nav %}
    <span aria-hidden="true" class="nav-item">
        {<a 
            href={{ item.link }} 
            {% if page.url==item.link %}
                class="nav-current"
            {% else %}
                class="nav-inactive"
            {% endif %}
        >
            {{ item.name }}
        </a>}
    </span>
    {% endfor %}
    </span>
</nav>
</div>