.blog-listing {
    border-left: 2px solid white;
    margin-left: 2em;
    padding: 2em;
}

.blog-display {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blog-excerpt {
    margin-top: 0.5em;
}
