.blog-listing {
    border-left: 2px solid white;
    margin-top: 1em;
    margin-left: 0.5em;
    padding: 1em;
}

.blog-category {
    margin-bottom: 0;
}

.blog-category-desc {
    margin-top: 0;
    color: rgb(148, 248, 240);
}

.blog-display {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blog-excerpt {
    margin-top: 0.5em;
}   

.blog-post-meta {
    margin: 0;
    padding: 0.7em;
    color:rgb(22, 236, 226);
    font-size: smaller;
    margin-bottom: 3em;
    border-bottom: 2px solid rgb(0, 106, 138);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-meta-left {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start; 
}

.post-meta-left span {
    padding-right: 1em;
}