.blog-listing {
    border-left: 2px solid white;
    margin-left: 1em;
    padding: 1em;
}

.blog-category {
    margin-bottom: 0;
}

.blog-category-desc {
    margin-top: 0;
}

.blog-display {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.blog-excerpt {
    margin-top: 0.5em;
}
