// Generic code styling
code, code * {
    font-size: large;
}

code {
}

.highlight {
    margin: 0em;
}

.highlighter-rouge {
    overflow-x: auto;
    background: rgba(1, 42, 70, 0.5);
}

.rouge-table * {
    font-size: 0.97em;
}

// Line numbers styling
.rouge-gutter .lineno {
    color: rgb(1, 110, 143);
    margin-right: 0.3em;
    text-align: right;
}

.rouge-code pre, .rouge-gutter pre {
    // Reduce spacing at top and bottom of code block
    margin: 0.7em;
    line-height: 1.5em;
}

.rouge-code pre {
    margin-left: 0.1em;
}

.rouge-gutter {
    border-right: 1px #07355f solid;
}