@font-face {
    font-family: victormono;
    font-style: normal;
    src: url(/assets/fonts/VictorMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: victormono;
    font-style: normal;
    font-weight: bold;
    src: url(/assets/fonts/VictorMono-Bold.ttf) format("truetype");
}

@font-face {
    font-family: victormono;
    font-style: italic;
    src: url(/assets/fonts/VictorMono-Italic.ttf) format("truetype");
}

@font-face {
    font-family: victormono;
    font-style: italic;
    font-weight: bold;
    src: url(/assets/fonts/VictorMono-BoldItalic.ttf) format("truetype");
}
