.gallery-container {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    align-items: stretch;
}

@media only screen and (max-width: 800px) {
    .gallery-container {
        justify-content: space-evenly !important;
    }
}

.gallery-item {
    width: calc(300px + (5px + 5px) * 2);
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
}

.gallery-img-container {
    width: 300px;
    height: 300px;
    overflow: hidden;

    padding: 5px;
    outline: 2px dashed rgb(255, 170, 0);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    filter: saturate(20%);
}

.gallery-img-container:hover {
    outline: 2px solid rgb(1, 253, 198);
    box-shadow:
        0 0 0.5em rgba(1, 253, 198, 1.0), 
        0 0 0.6em rgba(1, 253, 198, 0.7), 
        0 0 0.8em rgba(1, 253, 198, 0.5), 
        0 0 1.2em rgba(1, 253, 198, 0.3), 
        0 0 1.8em rgba(1, 253, 198, 0.2), 
        0 0 2.5em rgba(1, 253, 198, 0.1);

    filter: saturate(100%);
}

.gallery-img-container .gallery-img-overlay {
    position: absolute;
    height: 120px;
    width: 300px;
    bottom: 0;

    background:
        linear-gradient(rgba(0,0,0,0), rgb(0, 0, 0));
}

.gallery-img-container:hover .gallery-img-overlay {
    visibility: hidden;
}

.gallery-img-overlay > span {

    position: absolute;
    bottom: 0;
    right: 0;

    padding: 1.5em;

    color: rgb(255, 224, 163);
    text-shadow:
        0 0 0.5em rgba(255, 170, 0, 1.0), 
        0 0 0.6em rgba(255, 170, 0, 0.7), 
        0 0 0.8em rgba(255, 170, 0, 0.5), 
        0 0 1.2em rgba(255, 170, 0, 0.3), 
        0 0 1.8em rgba(255, 170, 0, 0.2), 
        0 0 2.5em rgba(255, 170, 0, 0.1);
}

.gallery-img-container .gallery-img {
    max-width:100%;
    max-height:100%;
}

.gallery-img-preview {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;

    display: flex;
    justify-content: space-evenly;
    align-items:center;

    backdrop-filter: blur(10px);
}

[id^="gallery-img-preview-control-"]:focus ~ .gallery-img-preview {
    visibility: visible;
}

[id^="gallery-img-preview-control-"]:focus ~ .gallery-img-preview-img-container {
    visibility: visible;
}

.gallery-img-preview-img-container:focus-within ~ .gallery-img-preview {
    visibility: visible;
}

.gallery-img-preview-img-container:focus-within * {
    visibility: visible;
}

.gallery-vid-container:hover {
    visibility: visible;
}

.gallery-vid-container:focus {
    visibility: visible;
}

.gallery-img-preview-img-container {
    z-index: 201;
    visibility: hidden;
    position: fixed;
    overflow: auto;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-width: calc(min(80vw, 100vh) + 30px);
    max-height: calc(80vh + 30px);
}

.gallery-img-preview-img {
    padding: 10px;
    max-width: calc(min(80vw, 100vh));
}

.gallery-meta {
    color: rgb(22, 236, 226);
    border-top: 2px solid rgb(3, 78, 128);
    border-bottom: 2px solid rgb(3, 78, 128);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.gallery-desc {
    margin-top: 1em;
    max-width: 100%;
    font-size: smaller;
    text-align: justify;
    text-justify: inter-word;
}

.shader-container {
    width: 640px;
    height: 360px;
    max-width: 100%;
}