.gallery-container {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    align-items: stretch;
}

.gallery-item {
    width: calc(300px + (5px + 5px) * 2);
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
}

.gallery-img-container {
    width: 300px;
    height: 300px;
    overflow: hidden;

    padding: 5px;
    outline: 2px dashed rgb(255, 170, 0);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-img-container:hover {
    outline: 2px solid rgb(255, 170, 0);
    box-shadow:
        0 0 0.5em rgba(255, 170, 0, 1.0), 
        0 0 0.6em rgba(255, 170, 0, 0.7), 
        0 0 0.8em rgba(255, 170, 0, 0.5), 
        0 0 1.2em rgba(255, 170, 0, 0.3), 
        0 0 1.8em rgba(255, 170, 0, 0.2), 
        0 0 2.5em rgba(255, 170, 0, 0.1);
}

.gallery-img-container .gallery-img {
    max-width:100%;
    max-height:100%;
}

.gallery-meta {
    color: rgb(22, 236, 226);
    border-top: 2px solid rgb(3, 78, 128);
    border-bottom: 2px solid rgb(3, 78, 128);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.gallery-desc {
    margin-top: 1em;
    max-width: 100%;
    font-size: smaller;
    text-align: justify;
    text-justify: inter-word;
}