/*
 * Styling for post content
 */

.generic-content {
    overflow-x: auto;
    line-height: 1.7em;
    text-align: justify;
    text-justify: inter-word;
}

.generic-content h1:not(.generic-no-style) {
    margin-bottom: 1em;
    padding-bottom: 0.5em;

    text-shadow: 
        0 0 0.10em rgba(1, 253, 199, 1.0), 
        0 0 0.08em rgba(1, 253, 199, 0.7), 
        0 0 0.15em rgba(1, 253, 199, 0.5), 
        0 0 0.20em rgba(1, 253, 199, 0.3), 
        0 0 0.30em rgba(1, 253, 199, 0.2), 
        0 0 0.50em rgba(1, 253, 199, 0.1); 
}

.generic-content h2:not(.generic-no-style), 
.generic-content h3:not(.generic-no-style),
.generic-content h4:not(.generic-no-style)   {

    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;

    text-shadow: 
        0 0 0.10em rgba(1, 253, 199, 1.0), 
        0 0 0.08em rgba(1, 253, 199, 0.7), 
        0 0 0.15em rgba(1, 253, 199, 0.5), 
        0 0 0.20em rgba(1, 253, 199, 0.3), 
        0 0 0.30em rgba(1, 253, 199, 0.2), 
        0 0 0.50em rgba(1, 253, 199, 0.1);  
}

.generic-content h1 {
    border-bottom: 2px solid rgb(4, 129, 212);
}

.generic-content h2 {
    border-bottom: 2px solid rgb(1, 48, 80);
}

.generic-content h3 {
    border-bottom: 2px solid rgb(1, 48, 80);
}

.generic-content h4 {
    border-bottom: 2px solid rgb(1, 48, 80);
}

.generic-content code {
    color:rgb(248, 191, 66);
}

.generic-content img {
    max-width: 100%;
}

.generic-content blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 4px solid rgba(1, 253, 199, 0.7);
    background-color: rgb(20, 37, 88);
}

.generic-content .table-scrollx {
    overflow-x: auto;
    max-width: 100%;
}

.generic-content table:not(.rouge-table) {
    margin: 20px;
}

.generic-content table:not(.rouge-table) thead {

}

.generic-content table:not(.rouge-table) thead tr th {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 2px solid rgb(250, 213, 134);
    color: rgb(250, 213, 134);
    font-size: large;
}

.generic-content table:not(.rouge-table) tbody tr td {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 2px solid rgb(250, 213, 134);
}

.generic-content .table-no-outline * {
    outline: 0 !important;
    padding: 5px !important;
}

.generic-content hr {
    border: 1px solid rgb(1, 48, 80);
}

.generic-content .MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

.glow-text {
    text-shadow: 
        0 0 0.10em rgba(1, 253, 199, 1.0), 
        0 0 0.08em rgba(1, 253, 199, 0.7), 
        0 0 0.15em rgba(1, 253, 199, 0.5), 
        0 0 0.20em rgba(1, 253, 199, 0.3), 
        0 0 0.30em rgba(1, 253, 199, 0.2), 
        0 0 0.50em rgba(1, 253, 199, 0.1); 
}