---
layout: default
---

<div class="post-container">
    <h1 class="post-title">{{ page.display-title }}</h1>
    <div class="post-excerpt">
        {{ page.excerpt }}
    </div>
    <div class="post-meta">

        <span class="post-meta-left">
            <span>📅 {{ page.date | date_to_string }} - {{ page.author }} ^-^</span>
        </span>
        
        <span class="post-meta-right">
            <span>🏷️</span> Tags: 
            {% for tag in page.tags %}
            #{{ tag }} 
            {% endfor %}
        </span>
    </div>
</div>

<div class="generic-content">
    <h1>Gallery</h1>
</div>

<div class="gallery-container">
    {% for img in page.gallery %}
        <div class="gallery-item">

            <a id="gallery-img-preview-control-{{ forloop.index }}" href="#">
                <div class="gallery-img-container">
                    {% if img.type %}
                    <div class="play-button">
                        <svg class="play-button-symbol" 
                        viewBox="0 0 337.173 337.173" xml:space="preserve">
                        <g><g><path style="fill:#ffffff;" d="M25.922,337.173V0l285.329,168.595L25.922,337.173z M42.179,28.491v280.2L279.29,168.595 L42.179,28.491z"/></g></g>
                        </svg>
                    </div>
                        <img class="gallery-img" src="{{ img.preview-url }}" alt="{{ img.alt }}">
                    {% else %} <!--Default img-->
                        <img class="gallery-img" src="{{ img.url }}" alt="{{ img.alt }}">
                    {% endif %}
                </div>
            </a>
            {% if img.type %}
                <div class="gallery-img-preview-img-container gallery-vid-container">
                    <video class="gallery-img-preview-img" playsinline webkit-playsinline autoplay loop controls>
                        <source src="{{ img.url }}" type="{{ img.type }}">
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% else %} <!--Default img-->
                <div class="gallery-img-preview-img-container">
                    <img class="gallery-img-preview-img" src="{{ img.url }}" alt="{{ img.alt }}">
                </div>
            {% endif %}
            <div class="gallery-img-preview">
            </div>
                
            <div class="gallery-desc">{{ img.desc | markdownify }}</div>
        </div>
    {% endfor %}
</div>

<div class="generic-content">
    {{ content }}
</div>