<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="icon" href="/assets/img/placeholder.svg">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="/assets/js/nav.js"></script>
  <script src="/assets/js/feather.js"></script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
  {% include nav.html %}
  <div class="site-container">
    <div class="site-bar">
      <!--TODO: Seperate `feather` into a different file-->
      <img id="site-feather" src="/assets/img/feather.svg">
      {% include menu.html page_nav=page.nav %}
    </div>
    <div class="site-content-container">
      <div class="site-content">
        {{ content }}
      </div>
    </div>
  </div>
  {% include footer.html %}

</body>

</html>