<!doctype html>
<html>

<head prefix="og: https://juliapoo.github.io/#">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">

  <meta 
    property="og:title"
    content= 
      {% if page.display-title %}
        "{{ page.display-title | escape}}"
      {% else %}
        "{{ page.title | escape}}"
      {% endif %}
  />
  {% if page.excerpt %}
  <meta
    property="og:description"
    content= "{{ page.excerpt | escape }}"
  />
  {% endif %}
  {% if page.preview-url %}
    <meta
      property="og:image:secure_url"
      content="https://juliapoo.github.io{{ preview-url }}"
    />
  {% else %}
    <meta
      property="og:image:secure_url"
      content="https://juliapoo.github.io/assets/img/placeholder.png"
    />
  {% endif %}
  
  <meta name="twitter:site" content="@freefooooooood" />
  {% if page.preview-url %}
    <meta name="twitter:image" content="https://juliapoo.github.io{{ preview-url }}"/>
  {% else %}
    <meta name="twitter:image" content="https://juliapoo.github.io/assets/img/placeholder.png"/>
  {% endif %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:creator" content="@freefooooooood" />

  <title>{{ page.title }}</title>
  <link rel="icon" href="/assets/img/placeholder.svg">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="/assets/js/nav.js"></script>
  <script src="/assets/js/feather.js"></script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
  </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
  {% include nav.html %}
  <div class="site-container">
    <div class="site-bar">
      <!--TODO: Seperate `feather` into a different file-->
      <img id="site-feather" src="/assets/img/feather.svg">
      {% include menu.html page_nav=page.nav %}
    </div>
    <div class="site-content-container">
      <div class="site-content">
        {{ content }}
      </div>
    </div>
  </div>
  {% include footer.html %}

</body>

</html>