<!DOCTYPE html>
<html lang="en">

<head prefix="og: https://juliapoo.github.io/#">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <meta name="google-site-verification" content="kHikZRtHkxdb9_R4J4fKtJnVdbiIozdWmmuJe9lo7Zw" />
  <meta 
    property="og:title"
    content= 
      {% if page.display-title %}
        "{{ page.display-title | escape}}"
      {% else %}
        "{{ page.title | escape}}"
      {% endif %}
  />
  {% if page.excerpt %}
  <meta
    property="og:description"
    content= "{{ page.excerpt | escape }}"
  />
  <meta name="description" content= "{{ page.excerpt | escape }}">
  {% endif %}
  {% if page.preview-url %}
    <meta
      property="og:image:secure_url"
      content="https://juliapoo.github.io{{ page.preview-url }}"
    />
  {% else %}
    <meta
      property="og:image:secure_url"
      content="https://juliapoo.github.io/assets/img/placeholder.png"
    />
  {% endif %}
  
  <meta name="twitter:site" content="@freefooooooood" />
  {% if page.preview-url %}
    <meta name="twitter:image" content="https://juliapoo.github.io{{ page.preview-url }}"/>
  {% else %}
    <meta name="twitter:image" content="https://juliapoo.github.io/assets/img/placeholder.png"/>
  {% endif %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:creator" content="@freefooooooood" />

  <title>
    {% if page.display-title %}
      {{ page.display-title | escape}}
    {% else %}
      {{ page.title | escape}}
    {% endif %}
  </title>
  <link rel="icon" href="/assets/img/placeholder.svg">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="preload" href="/assets/fonts/VictorMono-Bold.ttf" as="font" type="font/ttf" crossorigin="">
  <link rel="preload" href="/assets/fonts/VictorMono-BoldItalic.ttf" as="font" type="font/ttf" crossorigin="">
  <link rel="preload" href="/assets/fonts/VictorMono-Italic.ttf" as="font" type="font/ttf" crossorigin="">
  <link rel="preload" href="/assets/fonts/VictorMono-Regular.ttf" as="font" type="font/ttf" crossorigin="">
  <script src="/assets/js/nav.js" async></script>
  <script src="/assets/js/feather.js" async></script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      },
      jax: ["input/TeX", "output/SVG"]
    });
    MathJax.Hub.Register.StartupHook("End",function () {
      for (const jax of MathJax.Hub.getAllJax()) {
        jax.SourceElement().previousSibling.classList.add('notranslate')
      }
    });
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script>
  {% if page.uses-mermaid %}
    <script type='text/javascript' src="https://unpkg.com/mermaid@8.14.0/dist/mermaid.min.js" async></script>
  {% endif %}
</head>

<body>
  {% include nav.html %}
  <div class="site-container">
    <div class="site-bar">
      <!--TODO: Seperate `feather` into a different file-->
      <img id="site-feather" src="/assets/img/feather.svg">
      {% include menu.html page_nav=page.nav %}
    </div>
    <div class="site-content-container">
      <div class="site-content {% if page.narrow or layout.narrow %}site-content-narrow{% endif %}">
        {{ content }}
      </div>
    </div>
  </div>
  {% include footer.html %}

</body>

</html>