---
layout: default
---

<div class="post-container">
    <h1 class="post-title">{{ page.display-title }}</h1>
    <div class="post-meta">

        <span class="post-meta-left">
            <span>📅</span> {{ page.date | date_to_string }} - {{ page.author }} ^-^
            <span>📚</span> Word Count: {{page.content | strip_html | number_of_words }}
        </span>
        
        <span class="post-meta-right">
            <span>🏷️</span> Tags: 
            {% for tag in page.tags %}
            #{{ tag }} 
            {% endfor %}
        </span>
    </div>
</div>

<div class="post-navigation">
    <details open="">
    <summary>What's here:</summary>
    {{ page.nav | markdownify }}
    </details>
</div>

<div class="generic-content">
    {{ content }}
</div>